<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    {% block title %}<title>Sample dev project</title>{% endblock %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<header class="header">
    <nav class="navigation">
        <ul class="navigation__list">
            <li class="navigation__item">
                <a class="navigation__link" href="{% url 'main' %}">
                    Home
                </a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link" href="{% url 'about' %}">
                    About development
                </a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link" href="{% url 'feedback' %}">
                    Feedback
                </a>
            </li>
        </ul>
    </nav>
</header>

<div class="page">
    {% block content %}{% endblock %}
</div>

<footer class="footer">
    Some sample shared footer.
</footer>
</body>
</html>