.app {
  width: 100%;
  height: 100vh;
}

.stack-item {
  margin-top: 4px;
  margin-bottom: 4px;
}

.toast-container {
  position: absolute;
  right: 0;
  bottom: 0;
}

.button {
  border: solid;
  padding: 6px;
  background: blue;
  width: max-content;
  font-size: 18px;
  color: white;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.page-iframe {
  width: 100%;
  height: 100%;
}

.stages-container {
  width: 100%;
  height: 100%;
}
